@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
*{
    font-family: "Sora", sans-serif;
    margin: 0%;
    padding: 0%;
}
main{
    background-color: aliceblue;
    display: flex;
    text-align: left;
    padding: 2em 2em;
    gap:1em;

}
main,.description,.review{
    align-items: center;
    justify-content: center;
}
.description{
    width: 50%;
}
.description>img{
    width: 3.6em;
}
h2{
    font-size: 2.25em;
}
.description-text{
    font-size: 1.25em;
}
ul{
    list-style: none;
    margin:0%;
    padding: 0%;
}
.banner{
    padding-top: 1em;
    width: 25%;
    margin-right: 2em;
}
.review{
    margin:1em ;
}
.box1,.box2{
    padding: 0.8em;
    /* margin: 1em; */
    background-color: #fff;
    border-radius: 1.25em;
    font-size: .875em;
    width: 60%;
}
.box1{
    position: relative;
    left:calc(100% - 60% - 0.8em);
    margin-bottom: 1.25em;
    /* margin-right: 1em; */
}
@media screen and (max-width:576px) {
    main{
        flex-direction: column;
        padding:0%;
        margin: 0.5em;
        /* text-align: center; */
    }
    h2{
        font-size: 1.6em;
    }
    .description-text{
        font-size: 1em;
    }
    .banner{
        margin-right:0% ;
    }

}
@media screen and (min-width:576px) and (max-width:992px){
    main{
        flex-direction: column;
        padding:1em 1em;
    }
}